{
  "extends": "airbnb",
  "rules": {
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error",
          "info"
        ]
      }
    ],
    "symbol-description": [
      "off"
    ],
    "no-underscore-dangle": [
      "off"
    ],
    "no-param-reassign": [
      "off"
    ],
    "import/no-unresolved": [
      "off"
    ]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
